@font-face {
    font-family: 'AA-Akashi';
    src: url("../fonts/AA-Akashi.ttf") format('truetype');
    
  }
  @font-face {
    font-family: 'Arimo';
    src: url("../fonts/Arimo_Regular.ttf") format('truetype');
    
  }