$logo-color: #315C72;
$text-color: #151515;
$bg-color: #f8efef;
$button-bg-color: #8F3D42;
$button-text-color: #fff;
$main-font: 'AA-Akashi', sans-serif;
$secondary-font: 'Arimo', sans-serif;
//carousel


$carousel-caption-width:             20%;
$carousel-caption-padding-y:         1.25rem;
$carousel-caption-spacer:            1.25rem;


