@import "./assets/fonts";
@import "./assets/variables";
@import "./assets/slider";

@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
// tag selectors
h1, h2, h3{
    font-family: $main-font;
    color: $logo-color;
    text-transform: uppercase;
}
h1{
    font-size: 9vw;
}
@media (max-width: 767px) {
    h1{
        font-size: 12vw;
    }
}

h2{
    font-size: 4.5vw;
}
a:link, a:visited {
    color: $text-color;
    text-decoration: none;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: $text-color;
  }
  a:hover{
    cursor: pointer;
  }
p{
    font-family: $secondary-font;
}
ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}
menu {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

}
//END of tag selectors
//class selectors
.customInput{
    border-width: 0px;
    border-bottom: 1px $logo-color solid;
    border-radius: 0;
}


@media (max-width: 576px) {
    // Override the gutter padding for the container
    .header__container {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
        padding-right: 0;
        padding-left: 0;
    }

    // Remove the negative margins from the row
    .row {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
    }
    .logo__container{
        font-size: 3vw;
        padding-top: 5px;
    }
}
.header__body{
    position: relative;
    z-index: 2;
}
.header__burger{
    display: none;
}

@media (max-width: 767px) {
    .header{
        height: 50px;
    }
    .header__body{
        height: 80px;
        gap: 20px;
        padding-bottom: 30px;

    }
    .header__burger{
        flex-direction: column;
        display: flex;
        align-items: center;
        position: absolute;
        right: 0;
        height: 25px;
        span{
            position: absolute;
            top: 9.5px;
            left: 0;
            width: 100%;
            height: 6px;
            background-color: black;
            z-index: 4;
        }
        &:before, &:after{
            content: "";
            width: 100%;
            border: 3px solid black;
            position: absolute;
            
        }
        &:before{
            top: 0;
        }
        &:after{
            bottom: 0;
        }
    }
    .header__container{
        background-color: #fff;
        align-items: center;
        justify-content: center;
        height: 50px;
        ul{
            flex-direction: column;
            margin: 0 auto;
            justify-content: center;
            font-size: medium;
            
        }

    }
    .active.header__container{
        height: 50vh;
        transition: all 1s ease 0s;
    }
    .active .header__burger:before{
        transition: transform 1s ease 0s;
        transform: rotate(45deg) translate(7px,7px);
        
    }
    .active .header__burger:after{
        transition: transform 1s ease 0s;
        transform: rotate(-45deg) translate(7px, -7px);
    }
    .active .header__burger span{
        display: none;
    }
    .menu{
       margin-top: -100%;
       transition: all 1s ease 0s;
    }
    .active .menu{
        margin-top: 0;
        transition: all 1s ease 0s;
    }
    .button__container{
        margin-top: -100%;
    }
    .active .button__container{
        margin-top: 0;
        transition: all 1s ease 0s;
    }
}


.button_red{
    background-color: $button-bg-color;
    color: $button-text-color;
    text-transform: uppercase;
    text-align: center;
    a:link, a:visited, a:link:active, a:visited:active {
        color: $button-text-color;
        line-height: 100%;
    }
}
body{
    font-family: $secondary-font;
    color: $text-color;
    font-size: 12px;
    max-width: 100vw;
    overflow-x: hidden;
}
.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    
}
.header-container{
    overflow-x: hidden;
}
.header{
    position: fixed;
    width: 100%;
    background-color:#fff;
    z-index: 2;

}
.logo__container {
    font-family: $main-font;
    text-transform: uppercase;
    color: $logo-color;
    font-size: 2vw;
    a:link, a:visited {
        color: $logo-color;
        text-decoration: none;
        cursor: auto;
      }
      
      a:link:active, a:visited:active {
        color: $logo-color;
      }
      a:hover{
        cursor: pointer;
      }

}
.menu {
    ul{
        display: flex;
        list-style: none;
        text-transform: uppercase;
        font-weight: 600;
        height: 100%;
        

        li{
            height: 100%;
            display: flex;
            align-items: center;

        }
    }
}
.orderButton {
    border-radius: 15px;
    width: 50%;
    height: 30px;
    font-size: 1.6vw;
}
.lead {
    background-image: url("../img/bg_pattern.jpg");
    padding: 150px 0 203px;
    text-align: center;
    margin-top: 70px;
    p{
        background-color: rgba(255, 255, 255, 0.8);
    }
    p.descriptor + p{
        font-size: 1.5vw;
        margin-top: 30px;
    }
}
.descriptor {
    
    font-size: 3vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.25vw;
    
    width: max-content;
    margin: 0 auto;
    padding: 10px 15px;
    border-radius: 15px;
}
@media (max-width: 767px){
    p.descriptor{
        font-size: 4vw;
    }
    p.descriptor + p.description{
        font-size: 3vw;
        max-width: 80wv;

    }

}
@media  (min-width: 625px) and (max-width: 767px){
    h1{
        font-size: 8.5vw;
    }
}
.card_blur{
    background-color: rgb(255 255 255 / 30%);
    backdrop-filter: blur(10px);
}
.cards {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}
.cards_negativeMargin{
    margin: -10% auto 0;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 300px;
    padding: 36px 5px 33px;
    text-align: center;
    margin: 0 auto;
    .card__imgContainer{
        height: 40%;
        flex: 1 0 84px;
    }
    .card__header{
        font-size: 18px;
        color: $logo-color;
    }

    .card__descriptor{
        width: 250px;
        flex: 1 0 auto;
        font-size: 14px;
    }
}
.card_border{
    border: rgb(0 0 0 / 10%) solid 5px;
    border-radius: 15px;
}
.card__img{
    height: 40%;
    flex: 1 0 auto;
    img{
        width: 100%;
        height: 100%;
        object-fit:fill
    }
}
.card__btn {
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 55px;
    &:hover{
        background-color: $logo-color;
        cursor: pointer;
    }
}
.card_transparent{
    background-color: transparent;
    border: 0px;
}

.imgAndDesc {
    img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
    
}
.imgAndDesc__text {
    font-size: 18px;
}
.imgAndDesc__btn {
    width: 100%;
    height: 42px;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: 2.5px;
    border-radius: 55px;
    a:link, a:visited, a:link:active, a:visited:active{
        text-transform: uppercase;
        color: $button-text-color;
      }
}
.prices {
    .container > p {
        font-size: 18px;
    }
    background-color: $bg-color;
    padding: 0 0 96px;
}
.prices__cards {
}
.oldPrice{
    text-decoration: line-through;
    font-weight: 600;
}
.newPrice{
    font-size: 18px;
    color: $button-bg-color;
    font-weight: 600;
}


.timer {
    position: relative;
    background-color: #fff;
    .container{
        margin-top: -51px;
        background-color: #fff;
    }

}
.timer:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 104px;
    left: 0;
    background-color: inherit;
    transform: skewY(-2.2deg);
    transform-origin: bottom left;
    z-index: 10;
}
.timer__desc {
    font-weight: 600;
    font-size: 32px;
    
}
.timer__body {
    color: $button-bg-color;
    font-size: 8vw;
    font-family: $main-font;
    

}
.complectation {
    background: $bg-color;
    position: relative;
    padding-top: 107px;
    p{
        font-size: 14px;
    }
    .card{
        height: 350px;
    }
}

.orderForm {
    p, label{
        font-size: 18px;
        line-height: 100%;
    }
    .label_30per{
        margin-bottom: 5px;
        margin-right: 10px;
        width: 30%;
    }

    input[type="checkbox"]{
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
}
.orderInfo{
    height: max-content;
    position:sticky;
    right: 5vw;
    top: 307px;
}
.blockWithBg{
    background-color: $bg-color;
    padding: 20px 0 20px 20px;
    border-radius: 15px;
    border: $logo-color 1px dashed;
}
.deliveryAndPayment, .contacts{
    font-size: 16px;
}

.feedback__avatar{
    flex: 0 1 180px;
}
.feedback__main{
    flex: 1 0 auto;
}
.carousel-caption{
    position: static;
}


//Thank you page
.thankYou{
    margin: 200px;
    p{
        font-size: 16px;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}
#carouselFeedback .carousel-control-prev,
#carouselFeedback .carousel-control-next {
    width: 5%; /* Adjust width as needed */
}

#carouselFeedback .carousel-control-prev {
    left: -5%; /* Move the button to the left */
}

#carouselFeedback .carousel-control-next {
    right: -5%; /* Move the button to the right */
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}